* {
  font-family: Arial;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

body {
  margin: 0px;
  padding: 20px;
  background: #ddd;
  color: #333;
}

h1 {
  font-size: 2.7em;
  margin-bottom: 0.7em;
}

#form_login > div {
  button {
    margin-top: -3px;
  }
  padding-bottom: 1em;
  border-radius: 5px;
}

#activePeers, #knownPeers {
  li {
    list-style: none;
  }
  a, em {
    font-size: 80%;
  }
  padding-left: 0px;
  padding-top: 4px;
}

#list_chat {
  list-style: none;
  height: 100px;
  overflow: auto;
  background: #ccc;
  padding: 5px 10px;
  font-size: 12px;
}

.angular-google-map-container {
  height: 400px;
  border: 1px solid #777;
}